html.classic .document-collection-item,
html:not(.ambient):not(.ambient-deep):not(.nocturne):not(.dark):not(.light)
  .document-collection-item {
  --document-collection-folder-back: #e3b946;
  --document-collection-folder-front: #ffdf7b;
}
